.recent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding: 0 24px;
  margin-top: 120px;
  gap: 48px;
}

.recent {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

#desktop-line {
  display: none;
}

.first {
  padding: 0 24px;
  margin-top: 0;
}

.first-img-container {
  margin: 0 0 12px 0;
  margin-bottom: 24px;
}

.first-img {
  min-width: 100%;
}

.titleh1 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0 0 12px 0;
}

.first-proj-stats {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 0 0 12px 0;
}

.programming {
  display: flex;
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
}

.css-prog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;

  /* padding: 10px 12px; */
  text-decoration: none;
  width: 49px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.html-prog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;

  /* padding: 10px 12px; */
  text-decoration: none;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.boot-prog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-decoration: none;

  /* padding: 10px 12px; */
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.ruby-prog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  text-decoration: none;

  /* padding: 10px 12px; */
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.see-first-proj {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  background: #ff6b00;
}

.see-first-proj-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.see-first-proj:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.see-first-proj-link:hover {
  color: #f55800;
}

.see-first-proj:active {
  background: #e05304;
}

.see-first-proj-link:active {
  color: white;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 120px 0;

  /* gap: 80px; */
}

.card {
  margin: 24px;
  background-color: #262626;
  background-image: url(img/Mask\ Group.svg);
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  margin-bottom: 18px;
  margin-top: 76px;
}

.title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin-top: 8px;
}

.project-access {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 0;
}

.prog-lang {
  padding: 0;
  gap: 12px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.html {
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
}

.bootstrap {
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
}

.ruby {
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  color: white;
  text-decoration: none;
}

.see-project {
  height: 48px;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-project-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
}

.see-project:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.see-project-link:hover {
  color: #f55800;
}

.see-project:active {
  background: #e05304;
}

.see-project-link:active {
  color: white;
}
